extends base

block content
  <div class="itemInfo" id=#{data.menu.id}>
    .itemInfo__back
      <i class="fas fa-arrow-left"></i>
      span Go Back
    .itemInfo__img
      img(src=data.menu.image_url)
    .itemInfo__text
      h3.itemInfo__text--title= data.menu.name
      p.itemInfo__text--desc= data.menu.description
      .itemInfo__add
        .itemInfo__add--price
          span Price
          span= data.menu.cost
        .button__primaryInvert--small ADD
      h4.itemInfo__text--subtitle EXTRAS
      ul.itemInfo__extras
        for extra in data.extras
          <li class="itemInfo__topping" id=#{extra.id}>
            span.itemInfo__topping--name= extra.name
            span.itemInfo__topping--add
              <i class="fas fa-plus"></i>
            span.itemInfo__topping--minus
              <i class="fas fa-minus"></i>
          </li>
    .itemInfo__checkout
      include components/client/checkout
  </div>